USE [MinimalApisMovie]
GO
/****** Object:  StoredProcedure [dbo].[Users_GetClaims]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Users_GetClaims]
GO
/****** Object:  StoredProcedure [dbo].[Users_GetByEmail]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Users_GetByEmail]
GO
/****** Object:  StoredProcedure [dbo].[Users_Create]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Users_Create]
GO
/****** Object:  StoredProcedure [dbo].[Movies_Update]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Movies_Update]
GO
/****** Object:  StoredProcedure [dbo].[Movies_GetById]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Movies_GetById]
GO
/****** Object:  StoredProcedure [dbo].[Movies_GetAll]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Movies_GetAll]
GO
/****** Object:  StoredProcedure [dbo].[Movies_Filter]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Movies_Filter]
GO
/****** Object:  StoredProcedure [dbo].[Movies_Exists]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Movies_Exists]
GO
/****** Object:  StoredProcedure [dbo].[Movies_Delete]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Movies_Delete]
GO
/****** Object:  StoredProcedure [dbo].[Movies_Create]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Movies_Create]
GO
/****** Object:  StoredProcedure [dbo].[Movies_Count]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Movies_Count]
GO
/****** Object:  StoredProcedure [dbo].[Movies_AssignGenres]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Movies_AssignGenres]
GO
/****** Object:  StoredProcedure [dbo].[Movies_AssignActors]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Movies_AssignActors]
GO
/****** Object:  StoredProcedure [dbo].[Genres_Update]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Genres_Update]
GO
/****** Object:  StoredProcedure [dbo].[Genres_GetBySeveralIds]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Genres_GetBySeveralIds]
GO
/****** Object:  StoredProcedure [dbo].[Genres_GetByID]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Genres_GetByID]
GO
/****** Object:  StoredProcedure [dbo].[Genres_GetAll]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Genres_GetAll]
GO
/****** Object:  StoredProcedure [dbo].[Genres_ExistsByIdAndName]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Genres_ExistsByIdAndName]
GO
/****** Object:  StoredProcedure [dbo].[Genres_Exists]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Genres_Exists]
GO
/****** Object:  StoredProcedure [dbo].[Genres_DeleteByID]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Genres_DeleteByID]
GO
/****** Object:  StoredProcedure [dbo].[Genres_Create]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Genres_Create]
GO
/****** Object:  StoredProcedure [dbo].[Error_Create]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Error_Create]
GO
/****** Object:  StoredProcedure [dbo].[Comments_Update]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Comments_Update]
GO
/****** Object:  StoredProcedure [dbo].[Comments_GetById]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Comments_GetById]
GO
/****** Object:  StoredProcedure [dbo].[Comments_GetAllByMovieId]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Comments_GetAllByMovieId]
GO
/****** Object:  StoredProcedure [dbo].[Comments_Exists]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Comments_Exists]
GO
/****** Object:  StoredProcedure [dbo].[Comments_Delete]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Comments_Delete]
GO
/****** Object:  StoredProcedure [dbo].[Comments_Create]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Comments_Create]
GO
/****** Object:  StoredProcedure [dbo].[Actors_Update]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Actors_Update]
GO
/****** Object:  StoredProcedure [dbo].[Actors_GetBySeveralIds]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Actors_GetBySeveralIds]
GO
/****** Object:  StoredProcedure [dbo].[Actors_GetByName]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Actors_GetByName]
GO
/****** Object:  StoredProcedure [dbo].[Actors_GetById]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Actors_GetById]
GO
/****** Object:  StoredProcedure [dbo].[Actors_GetAll]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Actors_GetAll]
GO
/****** Object:  StoredProcedure [dbo].[Actors_Exists]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Actors_Exists]
GO
/****** Object:  StoredProcedure [dbo].[Actors_Delete]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Actors_Delete]
GO
/****** Object:  StoredProcedure [dbo].[Actors_Create]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Actors_Create]
GO
/****** Object:  StoredProcedure [dbo].[Actors_Count]    Script Date: 13-Apr-26 09:20:26 ******/
DROP PROCEDURE [dbo].[Actors_Count]
GO
ALTER TABLE [dbo].[UsersTokens] DROP CONSTRAINT [FK_UsersTokens_Users_UserId]
GO
ALTER TABLE [dbo].[UsersRoles] DROP CONSTRAINT [FK_UsersRoles_Users_UserId]
GO
ALTER TABLE [dbo].[UsersRoles] DROP CONSTRAINT [FK_UsersRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UsersLogins] DROP CONSTRAINT [FK_UsersLogins_Users_UserId]
GO
ALTER TABLE [dbo].[UsersClaims] DROP CONSTRAINT [FK_UsersClaims_Users_UserId]
GO
ALTER TABLE [dbo].[RolesClaims] DROP CONSTRAINT [FK_RolesClaims_Roles_RoleId]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_AccessFailedCount]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_LockoutEnabled]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_TwoFactorEnabled]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_PhoneNumberConfirmed]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_EmailConfirmed]
GO
/****** Object:  Table [dbo].[UsersTokens]    Script Date: 13-Apr-26 09:20:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UsersTokens]') AND type in (N'U'))
DROP TABLE [dbo].[UsersTokens]
GO
/****** Object:  Table [dbo].[UsersRoles]    Script Date: 13-Apr-26 09:20:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UsersRoles]') AND type in (N'U'))
DROP TABLE [dbo].[UsersRoles]
GO
/****** Object:  Table [dbo].[UsersLogins]    Script Date: 13-Apr-26 09:20:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UsersLogins]') AND type in (N'U'))
DROP TABLE [dbo].[UsersLogins]
GO
/****** Object:  Table [dbo].[UsersClaims]    Script Date: 13-Apr-26 09:20:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UsersClaims]') AND type in (N'U'))
DROP TABLE [dbo].[UsersClaims]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13-Apr-26 09:20:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[RolesClaims]    Script Date: 13-Apr-26 09:20:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RolesClaims]') AND type in (N'U'))
DROP TABLE [dbo].[RolesClaims]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 13-Apr-26 09:20:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 13-Apr-26 09:20:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Movies]') AND type in (N'U'))
DROP TABLE [dbo].[Movies]
GO
/****** Object:  Table [dbo].[GenresMovies]    Script Date: 13-Apr-26 09:20:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GenresMovies]') AND type in (N'U'))
DROP TABLE [dbo].[GenresMovies]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 13-Apr-26 09:20:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Genres]') AND type in (N'U'))
DROP TABLE [dbo].[Genres]
GO
/****** Object:  Table [dbo].[Errors]    Script Date: 13-Apr-26 09:20:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Errors]') AND type in (N'U'))
DROP TABLE [dbo].[Errors]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 13-Apr-26 09:20:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Comments]') AND type in (N'U'))
DROP TABLE [dbo].[Comments]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 13-Apr-26 09:20:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Actors]') AND type in (N'U'))
DROP TABLE [dbo].[Actors]
GO
/****** Object:  Table [dbo].[ActorMovies]    Script Date: 13-Apr-26 09:20:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ActorMovies]') AND type in (N'U'))
DROP TABLE [dbo].[ActorMovies]
GO
/****** Object:  UserDefinedTableType [dbo].[IntegersList]    Script Date: 13-Apr-26 09:20:26 ******/
DROP TYPE [dbo].[IntegersList]
GO
/****** Object:  UserDefinedTableType [dbo].[ActorsList]    Script Date: 13-Apr-26 09:20:26 ******/
DROP TYPE [dbo].[ActorsList]
GO
/****** Object:  UserDefinedTableType [dbo].[ActorsList]    Script Date: 13-Apr-26 09:20:26 ******/
CREATE TYPE [dbo].[ActorsList] AS TABLE(
	[ActorId] [int] NULL,
	[Character] [nvarchar](max) NULL,
	[Order] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[IntegersList]    Script Date: 13-Apr-26 09:20:26 ******/
CREATE TYPE [dbo].[IntegersList] AS TABLE(
	[Id] [int] NULL
)
GO
/****** Object:  Table [dbo].[ActorMovies]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActorMovies](
	[ActorId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
	[Order] [int] NOT NULL,
	[Character] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ActorMovies] PRIMARY KEY CLUSTERED 
(
	[ActorId] ASC,
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Picture] [nvarchar](max) NULL,
 CONSTRAINT [PK_Actors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[Movieid] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Errors]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errors](
	[id] [uniqueidentifier] NOT NULL,
	[ErrorMessage] [nvarchar](max) NOT NULL,
	[StackTrace] [nvarchar](max) NULL,
	[Date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Errors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenresMovies]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenresMovies](
	[MovieId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_GenresMovies] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[inTheaters] [bit] NOT NULL,
	[ReleaseDate] [datetime2](7) NOT NULL,
	[Poster] [nvarchar](max) NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesClaims]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_RolesClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersClaims]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_UsersClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersLogins]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UsersLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersRoles]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UsersRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTokens]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UsersTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_EmailConfirmed]  DEFAULT ('false') FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_PhoneNumberConfirmed]  DEFAULT ('false') FOR [PhoneNumberConfirmed]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_TwoFactorEnabled]  DEFAULT ('false') FOR [TwoFactorEnabled]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_LockoutEnabled]  DEFAULT ('false') FOR [LockoutEnabled]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_AccessFailedCount]  DEFAULT ((0)) FOR [AccessFailedCount]
GO
ALTER TABLE [dbo].[RolesClaims]  WITH CHECK ADD  CONSTRAINT [FK_RolesClaims_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolesClaims] CHECK CONSTRAINT [FK_RolesClaims_Roles_RoleId]
GO
ALTER TABLE [dbo].[UsersClaims]  WITH CHECK ADD  CONSTRAINT [FK_UsersClaims_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersClaims] CHECK CONSTRAINT [FK_UsersClaims_Users_UserId]
GO
ALTER TABLE [dbo].[UsersLogins]  WITH CHECK ADD  CONSTRAINT [FK_UsersLogins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersLogins] CHECK CONSTRAINT [FK_UsersLogins_Users_UserId]
GO
ALTER TABLE [dbo].[UsersRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersRoles] CHECK CONSTRAINT [FK_UsersRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UsersRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersRoles] CHECK CONSTRAINT [FK_UsersRoles_Users_UserId]
GO
ALTER TABLE [dbo].[UsersTokens]  WITH CHECK ADD  CONSTRAINT [FK_UsersTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersTokens] CHECK CONSTRAINT [FK_UsersTokens_Users_UserId]
GO
/****** Object:  StoredProcedure [dbo].[Actors_Count]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Actors_Count] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT COUNT(*)
	from Actors
END
GO
/****** Object:  StoredProcedure [dbo].[Actors_Create]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Actors_Create]
	-- Add the parameters for the stored procedure here
	@Name nvarchar(150),
	@DateOfBirth datetime2,
	@Picture nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Actors(Name, DateOfBirth, Picture)
	VALUES (@Name,@DateOfBirth,@Picture)

	SELECT SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[Actors_Delete]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Actors_Delete] 
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE Actors where id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Actors_Exists]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Actors_Exists] 
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS (SELECT 1 FROM Actors Where Id = @Id)
                        SELECT 1;
                        ELSE 
                        Select 0;
END
GO
/****** Object:  StoredProcedure [dbo].[Actors_GetAll]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Actors_GetAll]
	-- Add the parameters for the stored procedure here
	@Page int,
	@RecordsPerPage int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id,Name,DateOfBirth,Picture 
	from Actors
	Order By Name
	OFFSET ((@Page - 1) * @RecordsPerPage) ROWS FETCH NEXT @RecordsPerPage ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[Actors_GetById]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Actors_GetById] 
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id,Name,DateOfBirth,Picture 
	from Actors
	Where id = @Id
	order by name
END
GO
/****** Object:  StoredProcedure [dbo].[Actors_GetByName]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Actors_GetByName]
	-- Add the parameters for the stored procedure here
	@Name nvarchar(150)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id,Name,DateOfBirth,Picture
	from Actors
	WHERE Name like '%' + @Name + '%'
	order by id
END
GO
/****** Object:  StoredProcedure [dbo].[Actors_GetBySeveralIds]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Actors_GetBySeveralIds]
	-- Add the parameters for the stored procedure here
	@actorsIds IntegersList READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id 
	from Actors 
	where id in (select id from @actorsIds)
END
GO
/****** Object:  StoredProcedure [dbo].[Actors_Update]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Actors_Update]
	-- Add the parameters for the stored procedure here
	@Id int,
	@Name nvarchar(150),
	@DateOfBirth datetime2,
	@Picture nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update Actors
	SET Name = @Name,
		DateOfBirth = @DateOfBirth,
		Picture = @Picture
		WHERE id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Comments_Create]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Comments_Create]
	-- Add the parameters for the stored procedure here
	@body nvarchar(150),
	@movieId int,
	@userId nvarchar(450)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into Comments (Body,Movieid,UserId)
	VALUES (@body,@movieId,@userId)
	SELECT SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[Comments_Delete]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Comments_Delete] 
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE Comments where id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Comments_Exists]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Comments_Exists] 
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS(select 1 from Comments where id = @Id)
		select 1;
	ELSE
		select 0;
END
GO
/****** Object:  StoredProcedure [dbo].[Comments_GetAllByMovieId]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Comments_GetAllByMovieId]
	-- Add the parameters for the stored procedure here
   @MovieId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id,Body,Movieid 
	from Comments
	where Movieid = @MovieId
	order by id
END
GO
/****** Object:  StoredProcedure [dbo].[Comments_GetById]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Comments_GetById] 
	-- Add the parameters for the stored procedure here
	@Id int
As
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id,Body,Movieid 
	from Comments
	where id = @Id
	order by id
END
GO
/****** Object:  StoredProcedure [dbo].[Comments_Update]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Comments_Update] 
	-- Add the parameters for the stored procedure here
	@Id int,
	@Body nvarchar(150),
	@MovieId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Comments
	SET Body = @Body, Movieid = @MovieId
	WHERE id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Error_Create]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Error_Create] 
	-- Add the parameters for the stored procedure here
	@id uniqueidentifier,
	@errorMessage nvarchar(max),
	@stackTrace nvarchar(max),
	@date datetime2
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Errors(id,ErrorMessage,StackTrace,Date)
	VALUES (@id,@errorMessage,@stackTrace,@date)
END
GO
/****** Object:  StoredProcedure [dbo].[Genres_Create]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Genres_Create]
		@Name nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	 INSERT INTO Genres(Name)
		 VALUES(@Name);

		 SELECT SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[Genres_DeleteByID]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Genres_DeleteByID]
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Delete Genres where Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Genres_Exists]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Genres_Exists]
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS (SELECT 1 FROM Genres Where Id = @Id)
                        SELECT 1;
                        ELSE 
                        Select 0;
END
GO
/****** Object:  StoredProcedure [dbo].[Genres_ExistsByIdAndName]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Genres_ExistsByIdAndName] 
	-- Add the parameters for the stored procedure here
	@id int,
	@name nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS(Select 1 From Genres where Name = @name And Id != @id)
			select 1
	ELSE
			select 0
END
GO
/****** Object:  StoredProcedure [dbo].[Genres_GetAll]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Genres_GetAll]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id,Name 
	from Genres order by id ;
END
GO
/****** Object:  StoredProcedure [dbo].[Genres_GetByID]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Genres_GetByID]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Id,Name 
    FROM Genres 
    Where Id = @Id
	Order by Id
END
GO
/****** Object:  StoredProcedure [dbo].[Genres_GetBySeveralIds]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Genres_GetBySeveralIds] 
	-- Add the parameters for the stored procedure here
	@genresIds IntegersList READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id 
	from Genres
	WHERE Id in (select id from @genresIds)
END
GO
/****** Object:  StoredProcedure [dbo].[Genres_Update]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Genres_Update]
	-- Add the parameters for the stored procedure here
	@Id int,
	@Name nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Genres 
    SET Name = @Name
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Movies_AssignActors]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Movies_AssignActors]
	-- Add the parameters for the stored procedure here
@movieId int,
@actors ActorsList READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Delete ActorMovies Where MovieId = @movieId

	INSERT INTO ActorMovies (ActorId,MovieId,[Order], Character)
	SELECT ActorId,@movieId,[Order],Character FROM @actors

END
GO
/****** Object:  StoredProcedure [dbo].[Movies_AssignGenres]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Movies_AssignGenres] 
	-- Add the parameters for the stored procedure here
	@movieId int,
	@genresIds IntegersList READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE GenresMovies Where MovieId = @movieId

	INSERT INTO GenresMovies(GenreId,MovieId)
	SELECT Id,@movieId from @genresIds
END
GO
/****** Object:  StoredProcedure [dbo].[Movies_Count]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Movies_Count]
	@title nvarchar(150) = '',
	@genreId int = 0,
	@futureReleases bit = 'False',
	@inTheaters bit = 'False'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT COUNT(*) 
	from Movies
	Where (Title like '%' + @title + '%' or @title = '' )
	AND (ReleaseDate > GETDATE() OR @futureReleases = 'FALSE')
	AND (inTheaters = @inTheaters OR @inTheaters = 'False')
	AND (ID in (select MovieId From GenresMovies where GenreId = @genreId) 
	OR @genreId = 0)
END
GO
/****** Object:  StoredProcedure [dbo].[Movies_Create]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Movies_Create]
	-- Add the parameters for the stored procedure here
	@title nvarchar(150),
	@releaseDate datetime2,
	@inTheaters bit,
	@poster nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Movies(Title,inTheaters,ReleaseDate,Poster)
	VALUES (@title,@inTheaters,@releaseDate,@poster)

	SELECT SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[Movies_Delete]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Movies_Delete] 
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Delete Movies where id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[Movies_Exists]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Movies_Exists] 
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS (SELECT 1 FROM Movies Where Id = @Id)
                        SELECT 1;
                        ELSE 
                        Select 0;
END
GO
/****** Object:  StoredProcedure [dbo].[Movies_Filter]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Movies_Filter] 
	-- Add the parameters for the stored procedure here
	@page int,
	@recordsPerPage int,
	@title nvarchar(150),
	@genreId int,
	@futureReleases bit,
	@isTheaters bit,
	@orderByField nvarchar(150),
	@orderByAscending bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * 
	from Movies
	Where (Title like '%' + @title + '%' or @title = '' )
	AND (ReleaseDate > GETDATE() OR @futureReleases = 'FALSE')
	AND (inTheaters = @isTheaters OR @isTheaters = 'False')
	AND (ID in (select MovieId From GenresMovies where GenreId = @genreId) 
	OR @genreId = 0)
	Order By 
			CASE	
				When @orderByField = 'Title' And @orderByAscending = 'TRUE' Then Title end asc,
			case 
				when @orderByField = 'Title' AND @orderByAscending = 'False' Then Title end Desc,
			CASE	
				When @orderByField = 'ReleaseDate' And @orderByAscending = 'TRUE' Then ReleaseDate end asc,
			case 
				when @orderByField = 'ReleaseDate' AND @orderByAscending = 'False' Then ReleaseDate end Desc
	OFFSET ((@Page - 1) * @RecordsPerPage) ROWS FETCH NEXT @RecordsPerPage ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[Movies_GetAll]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Movies_GetAll]
	-- Add the parameters for the stored procedure here
	@Page int,
	@RecordsPerPage int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	from Movies
	Order By Title

	select Comments.id,Body,Movieid 
	from Comments
	join Movies on Comments.Movieid = Movies.id

	Select Id,Name
	from Genres
	Inner JOIn GenresMovies on GenresMovies.GenreId = Id
	where MovieId = GenresMovies.MovieId

	select id,Name,ActorMovies.Character
	from Actors
	INNER JOIN ActorMovies on ActorMovies.ActorId = id
	where MovieId = ActorMovies.ActorId
	order by [Order]

	OFFSET ((@Page - 1) * @RecordsPerPage) ROWS FETCH NEXT @RecordsPerPage ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[Movies_GetById]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Movies_GetById]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id,Title,inTheaters,ReleaseDate,Poster
	from Movies 
	where id = @id
	order by Title

	select id,Body,Movieid 
	from Comments
	where Movieid = @id

	Select Id,Name
	from Genres
	Inner JOIn GenresMovies on GenresMovies.GenreId = Id
	where MovieId = @id

	select id,Name,ActorMovies.Character
	from Actors
	INNER JOIN ActorMovies on ActorMovies.ActorId = id
	where MovieId = @id
	order by [Order]

END
GO
/****** Object:  StoredProcedure [dbo].[Movies_Update]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Movies_Update]
	-- Add the parameters for the stored procedure here
	@id int,
	@title nvarchar(150),
	@releaseDate datetime2,
	@inTheaters bit,
	@poster nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Movies 
	SET Title = @title,inTheaters=@inTheaters,ReleaseDate=@releaseDate,Poster=@poster
	where Id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[Users_Create]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Users_Create] 
	-- Add the parameters for the stored procedure here
	@id nvarchar(450),
	@email nvarchar(256),
	@normalizedEmail nvarchar(256),
	@userName nvarchar(256),
	@normalizedUserName nvarchar(256),
	@passwordHash nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Users (Id,Email,NormalizedEmail,UserName,NormalizedUserName,PasswordHash)
	VALUES (@id,@email,@normalizedEmail,@userName,@normalizedUserName,@passwordHash)
END
GO
/****** Object:  StoredProcedure [dbo].[Users_GetByEmail]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Users_GetByEmail]
	-- Add the parameters for the stored procedure here
	@normalizedEmail nvarchar(256)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	From Users
	where NormalizedEmail = @normalizedEmail
END
GO
/****** Object:  StoredProcedure [dbo].[Users_GetClaims]    Script Date: 13-Apr-26 09:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Users_GetClaims]
	-- Add the parameters for the stored procedure here
	@Id nvarchar(450)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ClaimType as [Type], ClaimValue as [Value]
	from UsersClaims 
	where UserId = @Id
END
GO
